@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
.prose code::before,
.prose code::after {
    content: none !important;
}

