name: Deploy (Production)

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    environment: Production
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Create .env for the webapps
        uses: aasmal97/create-env-file@v3.1.2
        with:
          APP_SECRETS: ${{ vars.WEBAPP_CLIENT_VARS }}
          ENV_FILE_NAME: "production"
          DESTINATION_PATH: ${{ github.workspace }}/frontend

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
          
      - name: Install Aspire CLI
        run: curl -sSL https://aspire.dev/install.sh | bash

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add known hosts
        run: ssh-keyscan -H ${{ secrets.TARGET_HOST }} >> ~/.ssh/known_hosts

      - name: Set short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Deploy
        run: aspire deploy --debug --log-level=debug
        env:
          DockerSSH__TargetHost: ${{ secrets.TARGET_HOST }}
          DockerSSH__SshUsername: ${{ secrets.SSH_USERNAME }}
          DockerRegistry__RegistryUrl: docker.io
          DockerRegistry__RepositoryPrefix: ${{ vars.PARAMETERS_REPOSITORYPREFIX }}
          DockerRegistry__RegistryUsername: ${{ vars.PARAMETERS_REPOSITORYPREFIX }}
          DockerRegistry__RegistryPassword: ${{ secrets.DOCKER_TOKEN }}
          IMAGE_TAG_SUFFIX: build.${{ github.run_number }}.${{ env.SHORT_SHA }}
          Parameters__registryUrl: ${{ vars.PARAMETERS_REGISTRYURL }}
          Parameters__repositoryPrefix: ${{ vars.PARAMETERS_REPOSITORYPREFIX }}
          Parameters__typesense-api-key: ${{ secrets.PARAMETERS_TYPESENSE_API_KEY }}
          Parameters__better-auth-secret: ${{ secrets.PARAMETERS_BETTER_AUTH_SECRET }}
          Parameters__cloudinary-secret: ${{ secrets.PARAMETERS_CLOUDINARY_SECRET }}
          Parameters__keycloak-secret: ${{ secrets.PARAMETERS_KEYCLOAK_SECRET }}
          Parameters__keycloak-password: ${{ secrets.PARAMETERS_KEYCLOAK_PASSWORD }}
          Parameters__postgres-password: ${{ secrets.PARAMETERS_POSTGRES_PASSWORD }}
          Parameters__messaging-password: ${{ secrets.PARAMETERS_MESSAGING_PASSWORD }}
